<template>
	<header>
		<h1>
			<img src="../assets/logo.png" />
		</h1>
		<Botao icone="" :texto="textoBotao" @clicado="alterarTema" />
	</header>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import Botao from './Botao.vue';

export default defineComponent({
	name: 'BarraLateral',
	components: {
		Botao
	},
	emits: ['aoTemaAlterado'],
	data() {
		return {
			modoEscuroAtivo: false
		}
	},
	computed: {
		textoBotao() {
			if(this.modoEscuroAtivo) {
				return 'Desativar Modo Escuro'
			}

			return 'Ativar Modo Escuro'
		}
	},
	methods: {
		alterarTema() {
			this.modoEscuroAtivo = !this.modoEscuroAtivo
			this.$emit('aoTemaAlterado', this.modoEscuroAtivo)
		}
	}
});
</script>

<style>
header {
	padding: 1rem;
	background: #0d3b66;
	width: 100%;
	height: 100vh;
	text-align: center;
}
@media only screen and (max-width: 768px) {
	header {
		padding: 2.5rem;
		height: auto;
	}
}
</style>
